Repository Quantori-Academy/apt-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write, stylelint -q --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["eslint --quiet --fix", "prettier --write"],
  "src/**/*.{css,module.css}": ["stylelint -q --fix", "prettier --write"]
}

Add dashboard page as one of protected routes, replace RouteProps with RouteObject for types
  src/router/protectedRoutesRouterConfig.tsx
Due: eslint --quiet --fix, prettier --write

Rename HOME route to ROOT_REDIRECT to clarify its function as a dashboard redirect
  src/router/publicRoutesRouterConfig.tsx
Due: eslint --quiet --fix, prettier --write

Add loader for login route
  src/router/utils/loginLoader.ts
Due: eslint --quiet --fix, prettier --write

Add isAuthenticated to authSlice and initialize state based on token
  src/store/index.ts
  src/store/slices/authSlice.ts
Due: eslint --quiet --fix, prettier --write

Add line breaks
  src/hooks/useFieldVisibility.ts
  src/hooks/useLoginForm.ts
Due: eslint --quiet --fix, prettier --write

Fix height
  src/components/Header/Header.tsx
  src/components/PageLayout/index.module.css
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

Fix height
  src/pages/Login/Login.tsx
Due: eslint --quiet --fix, prettier --write

Fix navbar
  src/components/Header/Header.tsx
  src/components/LoggedInNav/index.ts
  src/components/LoginButton/LoginButton.tsx
  src/components/LoginButton/index.ts
  src/components/NavigationAuth/NavigationAuth.module.css
  src/components/NavigationAuth/NavigationAuth.tsx
  src/components/NavigationAuth/index.ts
  src/components/NavigationUnauth/NavigationUnauth.tsx
  src/components/NavigationUnauth/index.ts
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

Fix routes
  src/components/PageLayout/PageLayout.tsx
  src/components/UsersTable/UsersTable.tsx
  src/hooks/useLoginForm.ts
  src/router/utils/loginLoader.ts
Due: eslint --quiet --fix, prettier --write

Add home page
  src/pages/Home/Home.tsx
  src/pages/Home/index.ts
  src/pages/index.ts
  src/router/publicRoutesRouterConfig.tsx
Due: eslint --quiet --fix, prettier --write

Fix routes
  src/components/NavigationAuth/NavigationAuth.tsx
  src/components/NavigationUnauth/NavigationUnauth.tsx
  src/hooks/useLoginForm.ts
  src/router/ProtectedRoute.tsx
Due: eslint --quiet --fix, prettier --write

Fix route in loginLoader
  src/router/utils/loginLoader.ts
Due: eslint --quiet --fix, prettier --write

Feature/82894847 protected routes (#39)
  src/App.tsx
  src/components/Header/Header.tsx
  src/components/Header/index.ts
  src/components/LoginForm/LoginForm.tsx
  src/components/NavigationAuth/NavigationAuth.module.css
  src/components/NavigationAuth/NavigationAuth.tsx
  src/components/NavigationAuth/index.ts
  src/components/NavigationUnauth/NavigationUnauth.tsx
  src/components/NavigationUnauth/index.ts
  src/components/PageLayout/PageLayout.tsx
  src/components/PageLayout/index.module.css
  src/components/UsersTable/UsersTable.tsx
  src/components/index.ts
  src/hooks/index.ts
  src/hooks/useFieldVisibility.ts
  src/hooks/useLoginForm.ts
  src/hooks/useRoleNavigation.ts
  src/pages/AccountSettings/AccountSettings.tsx
  src/pages/Dashboard/Dashboard.tsx
  src/pages/Dashboard/index.ts
  src/pages/Home/Home.tsx
  src/pages/Login/Login.tsx
  src/pages/index.ts
  src/router/AppRouter.tsx
  src/router/ProtectedRoute.tsx
  src/router/index.ts
  src/router/protectedRoutesRouterConfig.tsx
  src/router/publicRoutesRouterConfig.tsx
  src/router/routerConfig.tsx
  src/router/utils/loginLoader.ts
  src/store/api.ts
  src/store/index.ts
  src/store/slices/authSlice.ts
  src/types/user.ts
  src/utils/getCurrentUserFromToken.ts
  src/utils/index.ts
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

setup testing env
  .dockerignore
  .eslintignore
  .github/workflows/deploy.yaml
  .gitignore
  .husky/pre-commit
  .prettierignore
  package-lock.json
  package.json
  src/__tests__/.gitkeep
  src/setupTests.ts
  vite.config.ts
Due: eslint --quiet --fix, prettier --write

Change readme
  README.md
Due: none

Fix readme
  README.md
Due: none

Add Reagent page
  src/pages/ReagentPage/ReagentPage.tsx
  src/pages/ReagentPage/index.ts
  src/pages/index.ts
Due: eslint --quiet --fix, prettier --write

Add test route for reagent page
  src/router/protectedRoutesRouterConfig.tsx
Due: eslint --quiet --fix, prettier --write

Install smiles-drawer
  package-lock.json
  package.json
Due: none

Add SmilesImage component
  src/components/SmilesImage/SmilesImage.module.css
  src/components/SmilesImage/SmilesImage.tsx
  src/components/SmilesImage/index.ts
  src/components/index.ts
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

Add mock data for reagent
  src/mockData/reagent.ts
Due: eslint --quiet --fix, prettier --write

Add type for reagent
  src/pages/ReagentPage/ReagentPage.tsx
  src/types/index.ts
  src/types/reagent.ts
Due: eslint --quiet --fix, prettier --write

Add reagent and sample table with pagination
  mock/index.ts
  mock/reagentsAndSamplesMock.ts
  src/components/AccountDetails/AccountDetails.tsx
  src/components/EditUserRole/EditUserRole.tsx
  src/components/ErrorPage/ErrorPage.tsx
  src/components/ErrorPage/index.ts
  src/components/LoadingPage/LoadingPage.tsx
  src/components/LoadingPage/index.ts
  src/components/LoadingSkeleton/LoadingSkeleton.tsx
  src/components/LoadingSkeleton/index.ts
  src/components/PageLoader/PageLoader.tsx
  src/components/index.ts
  src/pages/ReagentSampleList/ReagentSampleList.module.css
  src/pages/ReagentSampleList/ReagentSampleList.tsx
  src/pages/ReagentSampleList/index.ts
  src/pages/Users/Users.tsx
  src/pages/index.ts
  src/router/protectedRoutesRouterConfig.tsx
  src/store/index.ts
  src/store/reagentSampleApi.ts
  src/store/slices/authSlice.ts
  src/store/store.ts
  src/store/usersApi.ts
  src/types/index.ts
  src/types/reagentSample.ts
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

Add baseApi
  src/store/baseApi.ts
  src/store/index.ts
  src/store/store.ts
Due: eslint --quiet --fix, prettier --write

Add usersApi
  src/store/usersApi.ts
Due: eslint --quiet --fix, prettier --write

Add reusable deleteModal component
  src/components/DeleteModal/DeleteModal.tsx
  src/components/DeleteModal/index.ts
  src/components/index.ts
  src/pages/ReagentPage/ReagentPage.tsx
Due: eslint --quiet --fix, prettier --write

Fix loading page height
  src/components/LoadingPage/LoadingPage.tsx
Due: eslint --quiet --fix, prettier --write

Rename reagentDetails
  src/mockData/reagentDetails.ts
Due: eslint --quiet --fix, prettier --write

Add reagentsApi
  src/store/reagentsApi.ts
Due: eslint --quiet --fix, prettier --write

Add sort name and category to table
  src/pages/ReagentSampleList/ReagentSampleList.module.css
  src/pages/ReagentSampleList/ReagentSampleList.tsx
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

add ReagentCategory type
  mock/reagentsAndSamplesMock.ts
  src/types/index.ts
  src/types/reagentSampleTypes.ts
Due: eslint --quiet --fix, prettier --write

Add action buttons component
  src/components/ActionButtons/ActionButtons.tsx
  src/components/index.ts
Due: eslint --quiet --fix, prettier --write

Add DetailItem component
  src/components/ActionButtons/index.ts
  src/components/DeleteModal/DeleteModal.tsx
  src/components/DetailItem/DetailItem.tsx
  src/components/DetailItem/index.ts
Due: eslint --quiet --fix, prettier --write

Add GET (mockData) and DELETE requests in reagentApi
  src/store/reagentsApi.ts
Due: eslint --quiet --fix, prettier --write

Refactor Reagent page
  src/pages/ReagentPage/ReagentPage.tsx
  src/store/index.ts
Due: eslint --quiet --fix, prettier --write

Add line breaks
  src/components/SmilesImage/SmilesImage.tsx
Due: eslint --quiet --fix, prettier --write

Add diagram from mermaid
  README.md
Due: none

Fix diagram
  README.md
Due: none

review changes
  src/components/ErrorPage/index.ts
  src/components/NavigationAuth/NavigationAuth.tsx
  src/components/PageError/PageError.tsx
  src/components/PageError/index.ts
  src/components/ReagentSampleTable/ReagentSampleTable.tsx
  src/components/ReagentSampleTable/index.ts
  src/components/index.ts
  src/pages/ReagentSampleList/ReagentSampleList.tsx
  src/router/protectedRoutesRouterConfig.tsx
  src/router/publicRoutesRouterConfig.tsx
  src/store/slices/authSlice.ts
  src/types/index.ts
  src/types/reagentSample.ts
Due: eslint --quiet --fix, prettier --write
