Repository Quantori-Academy/apt-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write, stylelint -q --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["eslint --quiet --fix", "prettier --write"],
  "src/**/*.{css,module.css}": ["stylelint -q --fix", "prettier --write"]
}

Refactor Docker configuration to create and connect to apt-project network
  .github/workflows/deploy.yaml
  .nginx/nginx.conf
  docker-compose.yaml
Due: none

Refactor GitHub Actions workflow to trigger manual deployment and update Docker configuration
  .github/workflows/deploy.yaml
Due: none

Setup ci (#69)
  .dockerignore
  .github/workflows/deploy.yaml
  docker-compose.yaml
Due: none

review comments
  src/store/substancesApi.ts
  src/store/utils/transformSubstanceList.ts
Due: eslint --quiet --fix, prettier --write

fix bug delete reagent
  src/components/SubstancesTable/SubstancesTable.tsx
Due: eslint --quiet --fix, prettier --write

Feature/79151822 view existing samples backend integration (#67)
  mock/reagentsAndSamplesMock.ts
  src/components/SubstancesTable/SubstancesTable.tsx
  src/store/substancesApi.ts
  src/store/utils/transformSubstanceList.ts
  src/types/substances.ts
Due: eslint --quiet --fix, prettier --write

Fix move
  .env.example
  src/api/apiMethods.ts
  src/components/ChangeLocationDialog/ChangeLocationDialog.tsx
Due: eslint --quiet --fix, prettier --write

Fix route
  src/store/storageApi.ts
Due: eslint --quiet --fix, prettier --write

Refactor: add type for transformer function, remove import
  src/store/utils/transformSubstancePatchRequest.ts
  src/types/index.ts
Due: eslint --quiet --fix, prettier --write

Feature/83628351 sample detailed page (#68)
  README.md
  diagrams/dbDiagram.png
  diagrams/entitiesDiagram.png
  diagrams/rolesDiagram.png
  src/components/ReagentDetails/ReagentDetails.tsx
  src/components/ReagentEditForm/ReagentEditForm.tsx
  src/components/SampleDetails/SampleDetails.tsx
  src/components/SampleDetails/index.ts
  src/components/SubstanceDetails/SubstanceDetails.tsx
  src/components/SubstanceDetails/index.ts
  src/components/SubstancesTable/SubstancesTable.tsx
  src/components/index.ts
  src/hooks/index.ts
  src/hooks/useAlertSnackbar.tsx
  src/hooks/useLocationQuantityDetails.ts
  src/pages/ReagentPage/ReagentPage.tsx
  src/pages/SamplePage/SamplePage.tsx
  src/pages/SamplePage/index.ts
  src/pages/index.ts
  src/router/protectedRoutesRouterConfig.tsx
  src/store/index.ts
  src/store/storageApi.ts
  src/store/substancesApi.ts
  src/store/usersApi.ts
  src/store/utils/index.ts
  src/store/utils/transformSampleResponse.ts
  src/store/utils/transformSubstancePatchRequest.ts
  src/types/substances.ts
Due: eslint --quiet --fix, prettier --write

fix exports, change null to -1, fix types
  src/components/AddStorageDialog/AddStorageDialog.tsx
  src/components/ChangeLocationDialog/ChangeLocationDialog.tsx
  src/components/Counter/Counter.tsx
  src/components/EditStorage/EditStorage.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/NavigationAuth/NavigationAuth.tsx
  src/components/StorageLocationDetail/StorageLocationDetail.tsx
  src/components/StorageLocationsList/StorageLocationsList.tsx
  src/components/StoredSubstances/StoredSubstances.tsx
  src/hooks/useLoginForm.ts
  src/pages/StorageLocationDetail/index.ts
  src/pages/StorageLocationDetails/StorageLocationDetails.tsx
  src/pages/StorageLocationDetails/index.ts
  src/pages/StorageLocations/StorageLocations.module.css
  src/pages/StorageLocations/index.ts
  src/pages/SubstancesList/SubstancesList.tsx
  src/pages/index.ts
  src/router/protectedRoutesRouterConfig.tsx
  src/router/publicRoutesRouterConfig.tsx
  src/store/index.ts
  src/store/slices/index.ts
  src/store/storageApi.ts
  src/store/substancesApi.ts
  src/store/utils/index.ts
  src/types/storageLocation.ts
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

add pagination
  src/pages/StorageLocations/StorageLocations.tsx
  src/pages/StorageLocations/StorageLocationsPage.tsx
  src/utils/getPaginatedStorageLocations.ts
Due: eslint --quiet --fix, prettier --write

add Todo to change -1s
  src/components/AddStorageDialog/AddStorageDialog.tsx
  src/pages/StorageLocationDetails/StorageLocationDetails.tsx
  src/pages/StorageLocations/StorageLocations.tsx
Due: eslint --quiet --fix, prettier --write

change ids type to string
  src/components/AddStorageDialog/AddStorageDialog.tsx
  src/components/ChangeLocationDialog/ChangeLocationDialog.tsx
  src/components/EditStorage/EditStorage.tsx
  src/components/ReagentEditForm/ReagentEditForm.tsx
  src/components/StorageLocationsList/StorageLocationsList.tsx
  src/components/StoredSubstances/StoredSubstances.tsx
  src/pages/StorageLocationDetails/StorageLocationDetails.tsx
  src/pages/StorageLocations/StorageLocations.tsx
  src/store/storageApi.ts
  src/store/substancesApi.ts
  src/store/utils/transformReagentResponse.ts
  src/store/utils/transformSampleResponse.ts
  src/store/utils/transformStorageResponse.ts
  src/store/utils/transformSubstancePatchRequest.ts
  src/types/storageLocation.ts
  src/types/substances.ts
Due: eslint --quiet --fix, prettier --write

review changes
  src/components/AddStorageDialog/AddStorageDialog.tsx
  src/components/StorageLocationsList/StorageLocationsList.tsx
  src/pages/StorageLocationDetails/StorageLocationDetails.tsx
  src/pages/StorageLocations/StorageLocations.tsx
Due: eslint --quiet --fix, prettier --write

[Feature] - Storage #14 #15 #17 (#46)
  src/components/AddStorageDialog/AddStorageDialog.tsx
  src/components/AddStorageDialog/index.ts
  src/components/ChangeLocationDialog/ChangeLocationDialog.tsx
  src/components/ChangeLocationDialog/index.ts
  src/components/Counter/Counter.tsx
  src/components/EditStorage/EditStorage.tsx
  src/components/EditStorage/index.ts
  src/components/LoginForm/LoginForm.tsx
  src/components/NavigationAuth/NavigationAuth.tsx
  src/components/ReagentEditForm/ReagentEditForm.tsx
  src/components/ResetPassword/ResetPassword.tsx
  src/components/StorageLocationDetail/StorageLocationDetail.tsx
  src/components/StorageLocationDetail/index.ts
  src/components/StorageLocationsList/StorageLocationsList.tsx
  src/components/StorageLocationsList/index.ts
  src/components/StoredSubstances/StoredSubstances.tsx
  src/components/StoredSubstances/index.ts
  src/components/index.ts
  src/hooks/useLoginForm.ts
  src/pages/StorageLocationDetails/StorageLocationDetails.tsx
  src/pages/StorageLocationDetails/index.ts
  src/pages/StorageLocations/StorageLocations.module.css
  src/pages/StorageLocations/StorageLocations.tsx
  src/pages/StorageLocations/index.ts
  src/pages/SubstancesList/SubstancesList.tsx
  src/pages/index.ts
  src/router/protectedRoutesRouterConfig.tsx
  src/store/index.ts
  src/store/slices/index.ts
  src/store/storageApi.ts
  src/store/store.ts
  src/store/substancesApi.ts
  src/store/utils/transformReagentResponse.ts
  src/store/utils/transformSampleResponse.ts
  src/store/utils/transformStorageResponse.ts
  src/store/utils/transformSubstancePatchRequest.ts
  src/types/index.ts
  src/types/storageLocation.ts
  src/types/substances.ts
  src/utils/getPaginatedStorageLocations.ts
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

add breadcrumbs routes, change typography h3 styles
  src/components/AppLayout/AppLayout.tsx
  src/components/DashboardBreadcrumbs/DashboardBreadcrumbs.tsx
  src/components/DashboardCard/DashboardCard.tsx
  src/components/Header/Header.tsx
  src/components/index.ts
  src/pages/AccountSettings/AccountSettings.tsx
  src/pages/Dashboard/Dashboard.tsx
  src/pages/Login/Login.tsx
  src/pages/ReagentPage/ReagentPage.tsx
  src/pages/SamplePage/SamplePage.tsx
  src/pages/StorageLocationDetails/StorageLocationDetails.tsx
  src/pages/StorageLocations/StorageLocations.tsx
  src/pages/SubstancesList/SubstancesList.tsx
  src/pages/UserDetails/UserDetails.tsx
  src/pages/Users/Users.tsx
  src/providers/ThemeProvider/themes.ts
Due: eslint --quiet --fix, prettier --write

add shadow for cards
  src/components/DashboardCard/DashboardCard.tsx
  src/pages/Dashboard/Dashboard.tsx
Due: eslint --quiet --fix, prettier --write

i18n integration: en, ru
  src/components/AccountDetails/AccountDetails.tsx
  src/components/Header/Header.tsx
  src/components/LanguageSwitcher/LanguageSwitcher.tsx
  src/components/LanguageSwitcher/index.ts
  src/components/NavigationAuth/NavigationAuth.tsx
  src/components/NavigationUnauth/NavigationUnauth.tsx
  src/components/SubstancesTable/SubstancesTable.tsx
  src/i18n.ts
  src/index.tsx
  src/locale/en.json
  src/locale/ru.json
  src/pages/SubstancesList/SubstancesList.tsx
Due: eslint --quiet --fix, prettier --write

add ReagentRequests Page
  src/pages/ReagentRequests/ReagentRequests.tsx
  src/pages/ReagentRequests/index.ts
  src/pages/index.ts
Due: eslint --quiet --fix, prettier --write

add route and navigation to Reagent Request Page
  src/components/NavigationAuth/NavigationAuth.tsx
  src/router/protectedRoutesRouterConfig.tsx
Due: eslint --quiet --fix, prettier --write

add reagentRequestTable component
  src/components/ReagentRequestTable/ReagentRequestTable.tsx
  src/components/ReagentRequestTable/index.ts
  src/components/index.ts
Due: eslint --quiet --fix, prettier --write

add mock data for reagentRequest Table, add types
  mock/reagentRequestsMock.ts
  src/types/index.ts
  src/types/reagentRequest.ts
Due: eslint --quiet --fix, prettier --write

add reagentRequestApi and add endpoint getReagentRequests with mock data
  src/store/index.ts
  src/store/reagentRequestApi.ts
  src/store/store.ts
Due: eslint --quiet --fix, prettier --write

add table, add mock data in table
  mock/reagentRequestsMock.ts
  src/components/ReagentRequestTable/ReagentRequestTable.tsx
  src/pages/ReagentRequests/ReagentRequests.tsx
  src/types/reagentRequest.ts
Due: eslint --quiet --fix, prettier --write

add pagination to ReagentRequestTable
  src/components/ReagentRequestTable/ReagentRequestTable.module.css
  src/components/ReagentRequestTable/ReagentRequestTable.tsx
  src/pages/ReagentRequests/ReagentRequests.tsx
  src/pages/StorageLocations/StorageLocations.tsx
  src/utils/getPaginatedReagentRequests.ts
  src/utils/getPaginatedStorageLocations.ts
  src/utils/index.ts
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

styling Page Name with same styles h3
  src/pages/Dashboard/Dashboard.tsx
  src/pages/Home/Home.tsx
  src/pages/StorageLocations/StorageLocations.tsx
  src/pages/SubstancesList/SubstancesList.tsx
  src/pages/Users/Users.tsx
  src/providers/ThemeProvider/themes.ts
Due: eslint --quiet --fix, prettier --write

styling Page Name with same styles h3
  src/pages/AccountSettings/AccountSettings.tsx
  src/pages/Dashboard/Dashboard.tsx
  src/pages/StorageLocations/StorageLocations.tsx
  src/pages/SubstancesList/SubstancesList.tsx
  src/pages/Users/Users.tsx
Due: eslint --quiet --fix, prettier --write

add sorting functionality on name, status and created date
  mock/reagentRequestsMock.ts
  src/components/ReagentRequestTable/ReagentRequestTable.tsx
  src/types/reagentRequest.ts
  src/utils/getPaginatedReagentRequests.ts
  src/utils/getReagentRequestsData.ts
  src/utils/index.ts
Due: eslint --quiet --fix, prettier --write

add filter functionality
  mock/reagentRequestsMock.ts
  src/components/ReagentRequestTable/ReagentRequestTable.tsx
  src/components/StatusFilter/StatusFilter.tsx
  src/components/StatusFilter/index.ts
  src/components/index.ts
  src/pages/ReagentRequests/ReagentRequests.tsx
  src/types/reagentRequest.ts
  src/utils/getReagentRequestsData.ts
Due: eslint --quiet --fix, prettier --write

Feature/79151389 develop reagent requests list page (#80)
  mock/reagentRequestsMock.ts
  src/components/NavigationAuth/NavigationAuth.tsx
  src/components/ReagentRequestTable/ReagentRequestTable.module.css
  src/components/ReagentRequestTable/ReagentRequestTable.tsx
  src/components/ReagentRequestTable/index.ts
  src/components/index.ts
  src/pages/Home/Home.tsx
  src/pages/ReagentRequests/ReagentRequests.tsx
  src/pages/ReagentRequests/index.ts
  src/pages/StorageLocations/StorageLocations.tsx
  src/pages/index.ts
  src/router/protectedRoutesRouterConfig.tsx
  src/store/index.ts
  src/store/reagentRequestApi.ts
  src/store/store.ts
  src/types/index.ts
  src/types/reagentRequest.ts
  src/utils/getPaginatedReagentRequests.ts
  src/utils/getPaginatedStorageLocations.ts
  src/utils/index.ts
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

add reagentRequest in dashboard
  src/pages/Dashboard/Dashboard.tsx
Due: eslint --quiet --fix, prettier --write

refactoring
  src/components/ReagentRequestTable/ReagentRequestTable.tsx
  src/components/StatusFilter/StatusFilter.tsx
  src/pages/Dashboard/Dashboard.tsx
  src/pages/ReagentRequests/ReagentRequests.module.css
  src/pages/ReagentRequests/ReagentRequests.tsx
  src/utils/getPaginatedReagentRequests.ts
  src/utils/getReagentRequestsData.ts
  src/utils/index.ts
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

Add mock orders data
  mock/index.ts
  mock/orders.ts
Due: none

Add ordersTable
  src/components/OrdersTable/OrdersTable.tsx
  src/components/OrdersTable/index.ts
  src/components/index.ts
Due: eslint --quiet --fix, prettier --write

Add orders page
  src/pages/Orders/Orders.tsx
  src/pages/Orders/index.ts
  src/pages/index.ts
Due: eslint --quiet --fix, prettier --write

Add order types
  src/types/index.ts
  src/types/orders.ts
Due: eslint --quiet --fix, prettier --write

Add util function for sorting orders
  src/utils/getOrdersRows.ts
  src/utils/index.ts
Due: eslint --quiet --fix, prettier --write

Add order page in protected routes
  src/router/protectedRoutesRouterConfig.tsx
Due: eslint --quiet --fix, prettier --write
