Repository Quantori-Academy/apt-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write, stylelint -q --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["eslint --quiet --fix", "prettier --write"],
  "src/**/*.{css,module.css}": ["stylelint -q --fix", "prettier --write"]
}

Add password vibility change functionality, Fix input position after rerender
  src/components/LoginForm/LoginForm.tsx
  src/components/LoginForm/loginForm.module.css
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

Revert "Feature/storage management (#18)"
  .hintrc
  src/components/GoBack/index.tsx
  src/components/Modal/DeleteOrEditConfirmationModal.tsx
  src/components/Modal/index.ts
  src/components/StorageLocationItem/StorageLocationItem.tsx
  src/components/StorageLocationItem/index.ts
  src/components/StorageLocationsList/StorageLocationsList.tsx
  src/components/StorageLocationsList/index.ts
  src/components/StorageLocationsToolbar/StorageLocationsToolbar.tsx
  src/components/StorageLocationsToolbar/index.ts
  src/components/index.ts
  src/pages/StorageLocationPage/StorageLocationPage.tsx
  src/pages/StorageLocationPage/index.tsx
  src/pages/StorageLocations/StorageLocations.tsx
  src/pages/StorageLocations/index.tsx
  src/providers/ThemeProvider/themes.ts
  src/router/routerConfig.tsx
Due: eslint --quiet --fix, prettier --write

Revert "Feature/storage management (#18)" (#19)
  .hintrc
  src/components/GoBack/index.tsx
  src/components/Modal/DeleteOrEditConfirmationModal.tsx
  src/components/Modal/index.ts
  src/components/StorageLocationItem/StorageLocationItem.tsx
  src/components/StorageLocationItem/index.ts
  src/components/StorageLocationsList/StorageLocationsList.tsx
  src/components/StorageLocationsList/index.ts
  src/components/StorageLocationsToolbar/StorageLocationsToolbar.tsx
  src/components/StorageLocationsToolbar/index.ts
  src/components/index.ts
  src/pages/StorageLocationPage/StorageLocationPage.tsx
  src/pages/StorageLocationPage/index.tsx
  src/pages/StorageLocations/StorageLocations.tsx
  src/pages/StorageLocations/index.tsx
  src/providers/ThemeProvider/themes.ts
  src/router/routerConfig.tsx
Due: eslint --quiet --fix, prettier --write

add code owners
  .github/CODEOWNERS
Due: none

Install jwt decoder
  package-lock.json
  package.json
Due: none

Add decode token functionality
  src/api/apiMethods.ts
  src/store/slices/authSlice.ts
Due: eslint --quiet --fix, prettier --write

Add user state in authSlice, Fix logout logic
  src/store/slices/authSlice.ts
Due: eslint --quiet --fix, prettier --write

Add role-based navigation for users
  src/components/LoginForm/LoginForm.tsx
  src/store/slices/authSlice.ts
Due: eslint --quiet --fix, prettier --write

fix: docker config
  .dockerignore
  .github/workflows/deploy.yaml
  docker-compose.yaml
Due: none

fix: github actions config
  .github/workflows/deploy.yaml
Due: none

Delete comments
  src/components/LoginForm/LoginForm.tsx
Due: eslint --quiet --fix, prettier --write

Rename style file
  src/components/LoginForm/LoginForm.module.css
Due: prettier --write, stylelint -q --fix

Improve LoginForm: Use custom hooks for cleaner and modular code
  src/components/LoginForm/LoginForm.tsx
  src/hooks/index.ts
  src/hooks/useLoginForm.ts
  src/hooks/usePasswordVisibility.ts
  src/hooks/useRoleNavigation.ts
Due: eslint --quiet --fix, prettier --write

Add new component PasswordField
  src/components/LoginForm/LoginForm.module.css
  src/components/LoginForm/LoginForm.tsx
  src/components/PasswordField/PasswordField.module.css
  src/components/PasswordField/PasswordField.tsx
  src/components/PasswordField/index.ts
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

Handle error in fulfilled case
  src/store/slices/authSlice.ts
Due: eslint --quiet --fix, prettier --write

Update src/components/LoginForm/LoginForm.tsx
  src/components/LoginForm/LoginForm.tsx
Due: eslint --quiet --fix, prettier --write

Replace button with MUI IconButton for password visibility toggle
  src/components/PasswordField/PasswordField.tsx
Due: eslint --quiet --fix, prettier --write

Delete custom styles for PasswordField component
  src/components/LoginForm/LoginForm.tsx
  src/components/PasswordField/PasswordField.module.css
  src/components/PasswordField/PasswordField.tsx
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

Fix error indicating in labels by using helperText
  src/components/LoginForm/LoginForm.tsx
  src/components/PasswordField/PasswordField.tsx
Due: eslint --quiet --fix, prettier --write

Replace span with Typography
  src/components/LoginForm/LoginForm.tsx
Due: eslint --quiet --fix, prettier --write

Delete styles for Login form, Add container for Login page
  src/components/LoginForm/LoginForm.module.css
  src/components/LoginForm/LoginForm.tsx
  src/components/PasswordField/PasswordField.tsx
  src/pages/Login/Login.tsx
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

Change error name
  src/components/LoginForm/LoginForm.tsx
Due: eslint --quiet --fix, prettier --write

Change default path for all users
  src/hooks/useRoleNavigation.ts
Due: eslint --quiet --fix, prettier --write

Feature/78114009 user login page (#20)
  package-lock.json
  package.json
  src/api/apiManager.ts
  src/api/apiMethods.ts
  src/api/endPoints.ts
  src/components/LoginForm/LoginForm.tsx
  src/components/LoginForm/index.ts
  src/components/PasswordField/PasswordField.tsx
  src/components/PasswordField/index.ts
  src/hooks/index.ts
  src/hooks/useLoginForm.ts
  src/hooks/usePasswordVisibility.ts
  src/hooks/useRoleNavigation.ts
  src/pages/Login/Login.tsx
  src/pages/Login/index.ts
  src/pages/index.ts
  src/providers/ThemeProvider/themes.ts
  src/router/routerConfig.tsx
  src/store/slices/authSlice.ts
  src/store/store.ts
  src/types/api.ts
  src/types/index.ts
  src/types/user.ts
Due: eslint --quiet --fix, prettier --write

change mui theme to default
  src/App.tsx
Due: eslint --quiet --fix, prettier --write

add react-hook-form dependency
  package-lock.json
  package.json
Due: none

change name user to userList in router config
  src/router/routerConfig.tsx
Due: eslint --quiet --fix, prettier --write

add user list component with button to add new user
  src/pages/UserList/UserList.tsx
  src/pages/UserList/index.ts
Due: eslint --quiet --fix, prettier --write

add user form with validations and errors
  package-lock.json
  package.json
  src/App.tsx
  src/pages/AddUser/AddUser.tsx
  src/pages/AddUser/index.ts
  src/pages/index.ts
  src/providers/ThemeProvider/themes.ts
  src/router/index.ts
  src/router/routerConfig.tsx
  src/store/api.ts
  src/store/index.ts
  src/store/store.ts
Due: eslint --quiet --fix, prettier --write

simplify submit
  src/pages/AddUser/AddUser.tsx
Due: eslint --quiet --fix, prettier --write

revert changed imports
  src/store/store.ts
Due: eslint --quiet --fix, prettier --write

add userRole enum
  src/constants/userRoles.ts
Due: eslint --quiet --fix, prettier --write

add user form modal
  src/components/index.ts
  src/pages/AddUser/AddUser.tsx
  src/pages/AddUser/index.ts
  src/pages/UserList/UserList.tsx
  src/pages/index.ts
  src/router/routerConfig.tsx
  src/store/api.ts
  src/store/index.ts
Due: eslint --quiet --fix, prettier --write

add addUser modal files
  src/components/AddUserForm/AddUserForm.tsx
  src/components/AddUserForm/addUserForm.module.css
  src/components/AddUserForm/index.ts
  src/components/AddUserModal/AddUserModal.tsx
  src/components/AddUserModal/addUserModal.module.css
  src/components/AddUserModal/index.ts
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

add user roles as constant
  src/constants/userRoles.ts
Due: eslint --quiet --fix, prettier --write

add ui component Snackbar
  src/ui/SnackBarWithAlert/SnackbarWithAlert.tsx
  src/ui/SnackBarWithAlert/index.ts
  src/ui/index.ts
Due: eslint --quiet --fix, prettier --write

implement add user modal
  src/components/AddUserForm/AddUserForm.tsx
  src/components/AddUserForm/index.ts
  src/components/AddUserModal/AddUserModal.tsx
  src/constants/.gitkeep
  src/constants/UserRole.ts
  src/constants/index.ts
  src/store/api.ts
  src/store/index.ts
  src/ui/AlertSnackbar/AlertSnackbar.tsx
  src/ui/AlertSnackbar/index.ts
  src/ui/SnackBarWithAlert/SnackbarWithAlert.tsx
  src/ui/SnackBarWithAlert/index.ts
  src/ui/index.ts
Due: eslint --quiet --fix, prettier --write

add authorization token
  src/components/AddUserModal/AddUserModal.tsx
  src/store/api.ts
  src/store/index.ts
  src/ui/AlertSnackbar/AlertSnackbar.tsx
Due: eslint --quiet --fix, prettier --write

reuse prepare headers
  src/api/apiMethods.ts
  src/api/index.ts
  src/components/AddUserForm/index.ts
  src/components/AddUserModal/index.ts
  src/store/api.ts
  src/store/index.ts
  src/ui/AlertSnackbar/index.ts
Due: eslint --quiet --fix, prettier --write

Fix login endPoint, Fix error message
  src/api/endPoints.ts
  src/store/slices/authSlice.ts
Due: eslint --quiet --fix, prettier --write
