Repository Quantori-Academy/apt-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write, stylelint -q --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["eslint --quiet --fix", "prettier --write"],
  "src/**/*.{css,module.css}": ["stylelint -q --fix", "prettier --write"]
}

Fix diagram
  README.md
Due: none

Delete diagram from folder, add new diagrams
  README.md
  diagrams/authDiagram.png
  diagrams/dashboard.png
  diagrams/dbDiagram.png
  diagrams/entitiesDiagram.png
  diagrams/orderManagement.png
  diagrams/progressDiagram.png
  diagrams/reagentSearch.png
  diagrams/rolesDiagram.png
  diagrams/sampleReagentManagement.png
  diagrams/storageManagement.png
  diagrams/userRolesDiagram.png
Due: none

feat: add /storage and /storage/locationId routes
  src/router/publicRoutesRouterConfig.tsx
Due: eslint --quiet --fix, prettier --write

feat: Implement interfaces
  src/types/storageLocation.ts
Due: eslint --quiet --fix, prettier --write

feat: add storageLocation
  src/types/index.ts
Due: eslint --quiet --fix, prettier --write

feat: Implement RTK queries and modify store.ts according to storageApi.ts
  src/store/storageApi.ts
  src/store/store.ts
Due: eslint --quiet --fix, prettier --write

feat: Implement Components for storage location list and storage location detail and corresponding pages.
  src/components/StorageLocationDetail/StorageLocationDetail.tsx
  src/components/StorageLocations/StorageLocationsList.tsx
  src/pages/StorageLocationDetail/StorageLocationDetailPage.tsx
  src/pages/StorageLocations/StorageLocationsPage.tsx
Due: eslint --quiet --fix, prettier --write

feat: export StorageLocationDetail, StorageLocationDetailPage, StorageLocationList and StorageLocationListPage
  src/components/StorageLocationDetail/index.ts
  src/components/StorageLocations/index.ts
  src/pages/StorageLocationDetail/index.ts
  src/pages/StorageLocations/index.ts
Due: eslint --quiet --fix, prettier --write

Documentation/readme (#44)
  README.md
  diagrams/authDiagram.png
  diagrams/dashboard.png
  diagrams/dbDiagram.png
  diagrams/entitiesDiagram.png
  diagrams/orderManagement.png
  diagrams/progressDiagram.png
  diagrams/reagentSearch.png
  diagrams/rolesDiagram.png
  diagrams/sampleReagentManagement.png
  diagrams/storageManagement.png
  diagrams/userRolesDiagram.png
Due: none

fix: modify
  src/components/StorageLocations/StorageLocationsList.tsx
Due: eslint --quiet --fix, prettier --write

feat: Implement moving items between storage locations
  src/components/StorageLocationDetail/StorageLocationDetail.tsx
  src/store/storageApi.ts
Due: eslint --quiet --fix, prettier --write

fix: modify storageApi
  src/store/storageApi.ts
Due: eslint --quiet --fix, prettier --write

Feature/83163912 reagents and samples list (#43)
  mock/index.ts
  mock/reagentsAndSamplesMock.ts
  src/components/AccountDetails/AccountDetails.tsx
  src/components/EditUserRole/EditUserRole.tsx
  src/components/LoadingPage/LoadingPage.tsx
  src/components/LoadingPage/index.ts
  src/components/LoadingSkeleton/LoadingSkeleton.tsx
  src/components/LoadingSkeleton/index.ts
  src/components/NavigationAuth/NavigationAuth.tsx
  src/components/PageError/PageError.tsx
  src/components/PageError/index.ts
  src/components/PageLoader/PageLoader.tsx
  src/components/ReagentSampleTable/ReagentSampleTable.tsx
  src/components/ReagentSampleTable/index.ts
  src/components/index.ts
  src/pages/ReagentSampleList/ReagentSampleList.module.css
  src/pages/ReagentSampleList/ReagentSampleList.tsx
  src/pages/ReagentSampleList/index.ts
  src/pages/Users/Users.tsx
  src/pages/index.ts
  src/router/protectedRoutesRouterConfig.tsx
  src/router/publicRoutesRouterConfig.tsx
  src/store/index.ts
  src/store/reagentSampleApi.ts
  src/store/slices/authSlice.ts
  src/store/store.ts
  src/store/usersApi.ts
  src/types/index.ts
  src/types/reagentSample.ts
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

add filter, improve styles
  src/components/CategoryFilter/CategoryFilter.tsx
  src/components/CategoryFilter/index.ts
  src/components/Header/Header.tsx
  src/components/NavigationAuth/NavigationAuth.module.css
  src/components/NavigationAuth/NavigationAuth.tsx
  src/pages/ReagentSampleList/ReagentSampleList.tsx
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

Fix imports
  src/pages/index.ts
Due: eslint --quiet --fix, prettier --write

Fix public and protected routes
  src/router/protectedRoutesRouterConfig.tsx
  src/router/publicRoutesRouterConfig.tsx
Due: eslint --quiet --fix, prettier --write

Fix exports and imports
  src/components/index.ts
  src/pages/StorageLocationDetail/StorageLocationDetailPage.tsx
  src/pages/StorageLocations/StorageLocationsPage.tsx
Due: eslint --quiet --fix, prettier --write

Add page link in navbar
  src/components/NavigationAuth/NavigationAuth.tsx
Due: eslint --quiet --fix, prettier --write

Fix header style
  src/components/NavigationAuth/NavigationAuth.tsx
Due: eslint --quiet --fix, prettier --write

Fix locations dropdown menu
  src/components/StorageLocationDetail/StorageLocationDetail.tsx
Due: eslint --quiet --fix, prettier --write

Fix id
  src/pages/AccountSettings/AccountSettings.tsx
Due: eslint --quiet --fix, prettier --write

Fix user not found info
  src/components/AccountDetails/AccountDetails.tsx
  src/components/DeleteUser/DeleteUser.tsx
  src/components/EditUserRole/EditUserRole.tsx
  src/components/ResetPassword/ResetPassword.tsx
  src/pages/AccountSettings/AccountSettings.tsx
Due: eslint --quiet --fix, prettier --write

Fix dropdown
  src/components/StorageLocationDetail/StorageLocationDetail.tsx
Due: eslint --quiet --fix, prettier --write

Fix button disabled
  src/components/StorageLocationDetail/StorageLocationDetail.tsx
Due: eslint --quiet --fix, prettier --write

Fix alert
  src/components/AccountDetails/AccountDetails.tsx
  src/components/EditUserRole/EditUserRole.tsx
  src/components/ResetPassword/ResetPassword.tsx
Due: eslint --quiet --fix, prettier --write

Fix margin
  src/components/StorageLocationDetail/StorageLocationDetail.tsx
Due: eslint --quiet --fix, prettier --write

Fix header, storage for all role
  src/components/NavigationAuth/NavigationAuth.tsx
Due: eslint --quiet --fix, prettier --write

Fix mock data
  mock/reagentsAndSamplesMock.ts
Due: none

Fix navigation
  src/pages/ReagentPage/ReagentPage.tsx
Due: eslint --quiet --fix, prettier --write

Feature/79151822 view existing samples (#47)
  src/components/CategoryFilter/CategoryFilter.tsx
  src/components/CategoryFilter/index.ts
  src/components/Header/Header.tsx
  src/components/NavigationAuth/NavigationAuth.module.css
  src/components/NavigationAuth/NavigationAuth.tsx
  src/pages/ReagentSampleList/ReagentSampleList.tsx
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

add Layout, AccountMenu
  src/components/AccountMenu/AccountMenu.module.css
  src/components/AccountMenu/AccountMenu.tsx
  src/components/AccountMenu/index.ts
  src/components/AppLayout/AppLayout.module.css
  src/components/AppLayout/AppLayout.tsx
  src/components/AppLayout/index.ts
  src/components/Header/Header.tsx
  src/components/PageLayout/PageLayout.tsx
  src/components/PageLayout/index.module.css
  src/components/PageLayout/index.ts
  src/components/SidebarListItem/SidebarListItem.module.css
  src/components/SidebarListItem/SidebarListItem.tsx
  src/components/SidebarListItem/index.ts
  src/components/index.ts
  src/providers/ThemeProvider/themes.ts
  src/router/AppRouter.tsx
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

add search functionality
  src/components/SearchBar/SearchBar.tsx
  src/pages/ReagentSampleList/ReagentSampleList.tsx
Due: eslint --quiet --fix, prettier --write

Updated code according to review comments.
  src/pages/ReagentSampleList/ReagentSampleList.tsx
  src/utils/getReagentsListData.ts
  src/utils/index.ts
Due: eslint --quiet --fix, prettier --write

Updated code according to review comments.
  src/pages/ReagentSampleList/ReagentSampleList.tsx
  src/pages/Users/Users.tsx
  src/utils/getReagentsListData.ts
Due: eslint --quiet --fix, prettier --write

Feature /79151863-Search Samples (#48)
  src/components/SearchBar/SearchBar.tsx
  src/pages/ReagentSampleList/ReagentSampleList.tsx
  src/pages/Users/Users.tsx
  src/utils/getReagentsListData.ts
  src/utils/index.ts
Due: eslint --quiet --fix, prettier --write

add useAlertSnackbar hook, add userDetails page
  src/components/AccountDetails/AccountDetails.tsx
  src/components/AddUserModal/AddUserModal.tsx
  src/components/AlertSnackbar/AlertSnackbar.tsx
  src/components/AlertSnackbar/index.ts
  src/components/DeleteUser/DeleteUser.tsx
  src/components/EditUserRole/EditUserRole.tsx
  src/components/ResetPassword/ResetPassword.tsx
  src/components/index.ts
  src/hooks/index.ts
  src/hooks/useAlertSnackbar.tsx
  src/pages/AccountSettings/AccountSettings.tsx
  src/pages/UserDetails/UserDetails.tsx
  src/pages/UserDetails/index.ts
  src/router/protectedRoutesRouterConfig.tsx
Due: eslint --quiet --fix, prettier --write

fix no id error
  src/components/PageError/PageError.tsx
  src/pages/ReagentSampleList/ReagentSampleList.tsx
  src/pages/UserDetails/UserDetails.tsx
Due: eslint --quiet --fix, prettier --write

code refactor
  src/components/AccountDetails/AccountDetails.tsx
  src/components/DeleteUser/DeleteUser.tsx
  src/components/EditUserRole/EditUserRole.tsx
  src/pages/UserDetails/UserDetails.tsx
Due: eslint --quiet --fix, prettier --write

Refactor code -Add a separate component for reagent details -Change buttons component name -Change modal name -Replace strong tag with MUI component -Delete loading page
  src/components/ActionButtons/index.ts
  src/components/ConfirmRemoving/ConfirmRemoving.tsx
  src/components/ConfirmRemoving/index.ts
  src/components/DeleteModal/index.ts
  src/components/DetailItem/DetailItem.tsx
  src/components/EditDeleteButtons/EditDeleteButtons.tsx
  src/components/EditDeleteButtons/index.ts
  src/components/LoadingPage/LoadingPage.tsx
  src/components/ReagentDetails/ReagentDetails.tsx
  src/components/ReagentDetails/index.ts
  src/components/index.ts
  src/pages/ReagentPage/ReagentPage.tsx
  vite.config.ts.timestamp-1729285102951-0f68755af03aa.mjs
Due: eslint --quiet --fix, prettier --write
