Repository Quantori-Academy/apt-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write, stylelint -q --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["eslint --quiet --fix", "prettier --write"],
  "src/**/*.{css,module.css}": ["stylelint -q --fix", "prettier --write"]
}

remove .ts
  src/components/ReagentDetails/ReagentDetails.tsx
  src/hooks/useLocationQuantityDetails.ts
  src/pages/SubstancesList/SubstancesList.tsx
  src/store/index.ts
  src/store/store.ts
  src/store/utils/transformReagentResponse.ts
Due: eslint --quiet --fix, prettier --write

add access to substances researcher and administrator
  src/components/SubstancesTable/SubstancesTable.tsx
  src/pages/SubstancesList/SubstancesList.tsx
  src/router/protectedRoutesRouterConfig.tsx
  src/store/reagentsApi.ts
  src/store/substancesApi.ts
  src/store/utils/transformSubstanceList.ts
  src/types/substances.ts
Due: eslint --quiet --fix, prettier --write

add access for administrator to substances
  src/pages/Dashboard/Dashboard.tsx
  src/router/protectedRoutesRouterConfig.tsx
Due: eslint --quiet --fix, prettier --write

change color palette
  src/components/AppLayout/AppLayout.tsx
  src/components/Header/Header.tsx
  src/pages/Dashboard/Dashboard.module.css
  src/providers/ThemeProvider/themes.ts
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

change reagent type location
  src/components/ReagentDetails/ReagentDetails.tsx
  src/components/ReagentEditForm/ReagentEditForm.tsx
  src/hooks/useLocationQuantityDetails.ts
  src/store/substancesApi.ts
  src/store/utils/transformReagentResponse.ts
  src/types/reagent.ts
  src/types/substances.ts
Due: eslint --quiet --fix, prettier --write

change avatar temporary
  src/components/Header/Header.tsx
  src/providers/ThemeProvider/themes.ts
Due: eslint --quiet --fix, prettier --write

Add "substances" in the header.
  mock/reagentsAndSamplesMock.ts
  src/components/NavigationAuth/NavigationAuth.tsx
Due: eslint --quiet --fix, prettier --write

change export files
  src/components/SubstancesTable/index.ts
  src/components/index.ts
  src/pages/SubstancesList/index.ts
Due: eslint --quiet --fix, prettier --write

Feature/79151822 view existing samples backend integration (#54)
  mock/reagentsAndSamplesMock.ts
  src/components/NavigationAuth/NavigationAuth.tsx
  src/components/ReagentEditForm/ReagentEditForm.tsx
  src/components/ReagentSampleTable/ReagentSampleTable.tsx
  src/components/ReagentSampleTable/index.ts
  src/components/SubstancesTable/SubstancesTable.tsx
  src/components/SubstancesTable/index.ts
  src/components/index.ts
  src/pages/ReagentPage/ReagentPage.tsx
  src/pages/ReagentSampleList/index.ts
  src/pages/SubstancesList/SubstancesList.module.css
  src/pages/SubstancesList/SubstancesList.tsx
  src/pages/SubstancesList/index.ts
  src/pages/index.ts
  src/router/protectedRoutesRouterConfig.tsx
  src/store/index.ts
  src/store/reagentSampleApi.ts
  src/store/reagentsApi.ts
  src/store/store.ts
  src/store/substancesApi.ts
  src/store/utils/transformSubstanceList.ts
  src/types/index.ts
  src/types/reagent.ts
  src/types/reagentSample.ts
  src/types/substances.ts
  src/utils/getReagentsListData.ts
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

fix: change keys according to its values in the enum part
  src/pages/ReagentSampleList/ReagentSampleList.tsx
  src/router/protectedRoutesRouterConfig.tsx
Due: eslint --quiet --fix, prettier --write

Fix update mutation
  src/components/ReagentEditForm/ReagentEditForm.tsx
  src/store/reagentsApi.ts
  src/store/sampleApi.ts
Due: eslint --quiet --fix, prettier --write

Fix routes
  src/components/SubstancesTable/SubstancesTable.tsx
Due: eslint --quiet --fix, prettier --write

Refactor: add patch mutation to update samples/reagents, delete previous put mutations
  src/components/ReagentEditForm/ReagentEditForm.tsx
  src/store/index.ts
Due: eslint --quiet --fix, prettier --write

Add transform request function
  src/store/substancesApi.ts
  src/store/utils/index.ts
  src/store/utils/transformSubstancePatchRequest.ts
  src/types/api.ts
Due: eslint --quiet --fix, prettier --write

fix: change it from snake_case to camelCase
  src/types/reagentData.ts
  src/types/sampleData.ts
Due: eslint --quiet --fix, prettier --write

fix: use useForm, change interface to type
  src/components/AddReagentForm/AddReagentForm.tsx
  src/components/AddSampleForm/AddSampleForm.tsx
Due: eslint --quiet --fix, prettier --write

feat: Implement data transformers for backend responses
  src/store/utils/transformReagentData.ts
  src/store/utils/transformSampleData.ts
Due: eslint --quiet --fix, prettier --write

fix: modify reagentApi and samplesApi according to data transformers
  src/store/reagentApi.ts
  src/store/samplesApi.ts
Due: eslint --quiet --fix, prettier --write

fix: navigation
  src/pages/ReagentSampleList/ReagentSampleList.tsx
Due: eslint --quiet --fix, prettier --write

fix: modify pages
  src/pages/AddReagentPage/AddReagentPage.tsx
  src/pages/AddSamplePage/AddSamplePage.tsx
Due: eslint --quiet --fix, prettier --write

Docs: update diagrams and readme
  README.md
  diagrams/dbDiagram.png
  diagrams/entitiesDiagram.png
  diagrams/rolesDiagram.png
Due: none

Refactor: update roles
  src/components/ReagentDetails/ReagentDetails.tsx
  src/components/SampleDetails/SampleDetails.tsx
  src/router/protectedRoutesRouterConfig.tsx
Due: eslint --quiet --fix, prettier --write

Fix routes
  src/components/SampleDetails/SampleDetails.tsx
Due: eslint --quiet --fix, prettier --write

decompose component, edit exports,
  src/components/AddStorageDialog/index.ts
  src/components/ChangeLocationDialog/ChangeLocationDialog.tsx
  src/components/ChangeLocationDialog/index.ts
  src/components/EditStorage/index.ts
  src/components/StorageLocationDetail/StorageLocationDetail.tsx
  src/components/StorageLocations/StorageLocationsList.tsx
  src/components/StorageLocationsList/StorageLocationsList.tsx
  src/components/StorageLocationsList/index.ts
  src/components/StoredSubstances/StoredSubstances.tsx
  src/components/StoredSubstances/index.ts
  src/components/index.ts
  src/pages/StorageLocationDetail/StorageLocationDetailPage.tsx
  src/pages/StorageLocations/StorageLocationsPage.tsx
  src/store/storageApi.ts
  src/types/storageLocation.ts
Due: eslint --quiet --fix, prettier --write

changed transformData
  mock/reagentsAndSamplesMock.ts
  src/store/substancesApi.ts
  src/store/utils/transformSubstanceList.ts
  src/types/substances.ts
Due: eslint --quiet --fix, prettier --write

feat: Implement createSample and createReagent
  src/store/substancesApi.ts
Due: eslint --quiet --fix, prettier --write

fix: fix navigation
  src/pages/SubstancesList/SubstancesList.module.css
  src/pages/SubstancesList/SubstancesList.tsx
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

fix: remove reagentApi and sampleApi and instead add substancesApi
  src/store/store.ts
Due: eslint --quiet --fix, prettier --write

fix: delete
  src/store/reagentsApi.ts
  src/store/samplesApi.ts
Due: eslint --quiet --fix, prettier --write

feat: files from merge main to my branch
  mock/reagentsAndSamplesMock.ts
  src/components/EditDeleteButtons/EditDeleteButtons.tsx
  src/components/NavigationAuth/NavigationAuth.tsx
  src/components/ReagentDetails/ReagentDetails.tsx
  src/components/ReagentSampleTable/ReagentSampleTable.tsx
  src/components/SmilesImage/SmilesImage.tsx
  src/router/protectedRoutesRouterConfig.tsx
  src/store/reagentSampleApi.ts
  src/types/reagentSample.ts
  src/utils/getReagentsListData.ts
Due: eslint --quiet --fix, prettier --write

feat: files from merge main to my branch
  src/components/ReagentSampleTable/index.ts
  src/components/index.ts
  src/hooks/index.ts
  src/pages/ReagentSampleList/index.ts
  src/pages/index.ts
  src/store/index.ts
  src/types/index.ts
  src/types/reagent.ts
Due: eslint --quiet --fix, prettier --write

fix: removed
  src/store/reagentApi.ts
Due: eslint --quiet --fix, prettier --write

fix: fix addReagentPage and AddSamplePage
  src/pages/AddReagentPage/AddReagentPage.tsx
  src/pages/AddSamplePage/AddSamplePage.tsx
Due: eslint --quiet --fix, prettier --write

fix: from main
  src/pages/ReagentPage/ReagentPage.tsx
Due: eslint --quiet --fix, prettier --write

Refactor Docker configuration and deployment workflow
  .dockerignore
  .github/workflows/deploy.yaml
  docker-compose.yaml
Due: none

Refactor GitHub Actions workflow to trigger deployment manually
  .github/workflows/deploy.yaml
Due: none

Refactor GitHub Actions workflow to trigger manual deployment and update Docker configuration
  .github/workflows/deploy.yaml
Due: none

Refactor Docker configuration to remove nginx container
  .github/workflows/deploy.yaml
Due: none

Refactor nginx configuration to comment out backend proxy_pass
  .nginx/nginx.conf
Due: none

Fix delete
  src/components/SubstancesTable/SubstancesTable.tsx
Due: eslint --quiet --fix, prettier --write
