Repository Quantori-Academy/apt-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write, stylelint -q --fix

update ci
  .github/workflows/client.ovpn
  .github/workflows/deploy.yaml
Due: none

Add diagram
  AuthDiagram.png
Due: none

add reagent-search digram
  ReagentSearch.png
Due: none

add dashboard diagram
  dashboard.png
Due: none

Add diagram
  storage-management.png
Due: none

sample management diagram
  sample-reagent-management.png
Due: none

Add diagram
  diagram.png
Due: none

add directory for diagrams
  diagrams/ReagentSearch.png
Due: none

Add diagram
  diagrams/storageManagement.png
Due: none

Create diagrams folder and add authentication diagram
  diagrams/authDiagram.png
Due: none

move to diagrams folder
  diagrams/dashboard.png
Due: none

add sample management diagram
  diagrams/SampleReagentManagement.png
Due: none

Add Diagram
  diagrams/sampleReagentManagement.png
Due: none

add 'reagent search' diagram
  diagrams/ReagentSearch.png
  diagrams/reagentSearch.png
Due: none

feature/reagent-search (#7)
  diagrams/reagentSearch.png
Due: none

Add diagram (#4)
  diagrams/storageManagement.png
Due: none

sample management diagram (#5)
  diagrams/sampleReagentManagement.png
Due: none

Feature/dashboard (#8)
  diagrams/dashboard.png
Due: none

Add role based diagram
  diagrams/userRolesDiagram.png
Due: none

Add diagram (#1)
  diagrams/authDiagram.png
  diagrams/userRolesDiagram.png
Due: none

feat: add docker&nginx config
  .dockerignore
  .nginx/nginx.conf
  Dockerfile
  docker-compose.yml
Due: none

fix: docker-compose
  docker-compose.yml
Due: none

fix: change Docker config
  Dockerfile
  docker-compose.yml
Due: none

added diagram
  diagrams/order_management.png
Due: none

added diagram
  diagrams/orderManagement.png
Due: none

Add diagram (#6)
  diagrams/orderManagement.png
Due: none

feat: new Docker config
  .dockerignore
  .gitignore
  .nginx/nginx.conf
  Dockerfile
  docker-compose.yml
Due: none

fix: workflow action
  .github/workflows/deploy.yaml
  docker-compose.yaml
Due: none

trial version from Andranik
  .hintrc
  src/components/GoBack/index.tsx
  src/components/Modal/DeleteOrEditConfirmationModal.tsx
  src/components/Modal/index.ts
  src/components/StorageLocationItem/StorageLocationItem.tsx
  src/components/StorageLocationItem/index.ts
  src/components/StorageLocationsList/StorageLocationsList.tsx
  src/components/StorageLocationsList/index.ts
  src/components/StorageLocationsToolbar/StorageLocationsToolbar.tsx
  src/components/StorageLocationsToolbar/index.ts
  src/components/index.ts
  src/pages/StorageLocationPage/StorageLocationPage.tsx
  src/pages/StorageLocationPage/index.tsx
  src/pages/StorageLocations/StorageLocations.tsx
  src/pages/StorageLocations/index.tsx
  src/providers/ThemeProvider/themes.ts
  src/router/routerConfig.tsx
Due: eslint --quiet --fix, prettier --write

Add Login page
  src/pages/Login/Index.tsx
  src/pages/Login/Login.tsx
Due: eslint --quiet --fix, prettier --write

Add LoginForm component
  src/components/LoginForm/LoginForm.tsx
  src/components/LoginForm/index.ts
  src/pages/Login/Login.tsx
  src/pages/Login/index.ts
  src/pages/index.ts
Due: eslint --quiet --fix, prettier --write

Add Login page to routerConfig
  src/router/routerConfig.tsx
Due: eslint --quiet --fix, prettier --write

Add styles to form, Add style for password inputs in MUI themesconfig
  src/components/LoginForm/LoginForm.tsx
  src/components/LoginForm/loginForm.module.css
  src/providers/ThemeProvider/themes.ts
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

Add error styles
  src/components/LoginForm/LoginForm.tsx
  src/components/LoginForm/loginForm.module.css
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

Feature/storage management (#18)
  .hintrc
  src/components/GoBack/index.tsx
  src/components/Modal/DeleteOrEditConfirmationModal.tsx
  src/components/Modal/index.ts
  src/components/StorageLocationItem/StorageLocationItem.tsx
  src/components/StorageLocationItem/index.ts
  src/components/StorageLocationsList/StorageLocationsList.tsx
  src/components/StorageLocationsList/index.ts
  src/components/StorageLocationsToolbar/StorageLocationsToolbar.tsx
  src/components/StorageLocationsToolbar/index.ts
  src/components/index.ts
  src/pages/StorageLocationPage/StorageLocationPage.tsx
  src/pages/StorageLocationPage/index.tsx
  src/pages/StorageLocations/StorageLocations.tsx
  src/pages/StorageLocations/index.tsx
  src/providers/ThemeProvider/themes.ts
  src/router/routerConfig.tsx
Due: eslint --quiet --fix, prettier --write

Add auth slice, Add endPoint, Add login method to apiManaged
  src/api/apiManager.ts
  src/api/endPoints.ts
  src/store/slices/authSlice.ts
  src/store/store.ts
  src/types/api.ts
Due: eslint --quiet --fix, prettier --write

Fix authSlice
  src/store/slices/authSlice.ts
Due: eslint --quiet --fix, prettier --write

Add selectLoading selector, Add loading styling
  src/components/LoginForm/LoginForm.tsx
  src/components/LoginForm/loginForm.module.css
  src/store/slices/authSlice.ts
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

Fix ThemeProvider color
  src/providers/ThemeProvider/themes.ts
Due: eslint --quiet --fix, prettier --write

Change error structure, Add styles for fetch error
  src/components/LoginForm/LoginForm.tsx
  src/components/LoginForm/loginForm.module.css
Due: eslint --quiet --fix, prettier --write, stylelint -q --fix

Path conditions:
  eslint --quiet --fix: any of: src/**/*.{ts,tsx}
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: src/**/*.{css,module.css})
  stylelint -q --fix: any of: src/**/*.{css,module.css}
